html,
body {
  height: 100%;
}

.home-header {
  background: #ffffff;
  position: relative;
  margin: 0px;
  padding: 0px;
}
.home-logo {
  position: absolute;
  height: 136px;
  width: 134px;
  left: 181px;
  top: 23px;
  background: url(./img/logo.png);
}

.home-search {
  position: absolute;
  height: 36px;
  width: 347px;
  left: 1340px;
  top: 79px;
  border-radius: 3px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 3px;
}
.home-name {
  position: absolute;
  height: 45px;
  width: 438px;
  left: 322px;
  top: 74px;
  font-family: Signika SC;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  mix-blend-mode: darken;
}
.home-menu {
  display: flex;
  justify-content: space-around;
  position: absolute;
  height: 83px;
  width: 1920px;
  top: 150px;
  align-items: center;
  background: #2373c8;
}
.home-menu-item {
  width: 203px;
  height: 39px;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
}

.top_back4 {
  position: absolute;
  top: 233px;
  width: 1920px;
  height: 514px;
}

.ant-menu-item-selected {
  background-color: #2373c8 !important;
}
