.window{
    width:1200px;
    height:240px;
    margin:100px auto;
    overflow: hidden;
   
}
.images_list{
   
    width:6000px;
    height:240px;
    animation-name: move;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.images_list_img{
    box-sizing: border-box;
    float: left;
    width: 300px;
    padding: 5px;
    height: 240px;
}
.images_list:hover{
    cursor:pointer;
    animation-play-state: paused;
}

@keyframes move{
    from{
        transform:translate(0px);
    }
    to{
        transform:translate(-4800px);
    }
}